:root {
    --primary-color: #525252;
    --seconday-color: blue;
    --default-color: #fff;
}

* {
    margin: 0;
    padding: 0;
}

@keyframes circle {
    from {
        rotate: 0deg;
    }

    to {
        left: 100vw;
        rotate: 360deg;
    }
}

@keyframes jumping {
    0% {
        top: 100vh;
        background-color: #60f602;
    }

    80% {
        top: 0;
        scale: 0.9;
        background-color: red;

    }

    100% {
        top: 70vh;
        scale: 0.85;
        background-color: orange;
    }
}

.circle {
    position: relative;
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: #f6cd02;
    border-radius: 100%;
    left: -50px;
    animation-name: circle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    /* transform: rotate(47deg);
    transition-duration: 500ms;
    transition-timing-function: ease-in-out; */
}

.jumping {
    width: 60px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #db4606;
    margin-left: 8em;
    bottom: 20vh;
    /* margin-top: 4em; */
    position: absolute;
    animation: jumping 3s ease-in-out infinite;
    /* animation-name: jumping;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; */
    /* animation-iteration-count: infinite; */
}

a {
    text-decoration: none;
    color: unset;
}

@keyframes myAnimation {
    from {
        /* width: 2em; */
    }

    to {
        /* width: 4em; */
    }
}

div#parent-container {
    background-color: #9f9f9f;
    border: 1px solid #f6cd02;
    height: 5em;
    /* height: 100vh; */
}

div.child-containter {
    background-color: #60f602;
    height: 50%;
    width: 3.5em;
    animation-name: myAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* animation-delay: 5s; */
    animation-direction: reverse;
}

div.child-containter:hover {
    cursor: pointer;

    /* transition: all 10s ease-in-out; */
    /* transform: scale(1.5); */
    /* transform: rotate(90deg); */
    /* background-color: red; */
    /* transform: skew(12deg); */
    /* transform: translate(12px); */
    /* transform: translateY(12px); */
}


/* p {
    font-size: 24px;
    font-family: 'Roboto', serif;
    font-weight: 1000;
    color: #DAA06D;
    background-color: #EADDCA;
    height: 20em;
    width: 5em;
    overflow: overlay;
}

p:hover {
    background-color: #e2c08c;
}

p::first-letter {
    color: #fd2424
}

p::first-line {
    color: #f3b304
}

.box-1,
.box-2,.box-3 {
    width: 50px;
    height: 50px;
}

.box-1 {
    background-color: #f00;
    position: relative;
    z-index: -1;
    position: absolute;
    right: 20px;
    top: 0;
}

.box-2 {
    height: 55px;
    background-color: #00f;
    position: fixed;
    top: 0;
    opacity: 0.5;
}

.parent {
    border: 1px solid #000;
    position: relative;
}
.box-3{
    background-color: #0f0;
    margin-top: 2px;
    width: 100%;
}
.content-box{
    position: sticky;
    top: 0;
} */

/* #parent .child {
    background-color: rgb(252, 4, 4);
    color: #fff;
    margin-top: 2px;
    padding: 2px;
    font-family: 'Roboto';
    font-weight: 700;
    text-decoration: underline;
    display: inline-block;
} */

/* .sotela-child {
    font-size: 12px;
    border: 1px solid;
} */

/* #parent { */
/* display: flex; */
/* background-color: #019fc3; */
/* align-items: center; */
/* justify-content: flex-end; */
/* flex-wrap: wrap; */
/* flex-direction: row-reverse; */
/* flex-direction: column; */

/* } */

/* #container .child {
    margin-top: 2px;
    background-color: #02647a;
    height: 50px;
    width: 50px;
}

#container {
    border: 1px solid #000;
    display: flex;
    justify-content: flex-end;
}

div {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 550px;
}

.div_1 {
    width: 225px;
    height: 225px;
    background-color: rgb(26, 26, 91);
    margin: 6px;
    color: #fff;
    text-align: center;
} */

div#navbar {
    background-color: var(--primary-color);
    border: 4px solid var(--seconday-color);
    position: relative;
}

div#navbar button#hamburger {
    position: absolute;
    right: 6px;
    top: 6px;
}

div#navbar>ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: "Roboto", "sans-serif";
    padding: 6px 0;
    display: static;
}

div#navbar li {
    list-style: none;
    border: 1px solid var(--default-color);
    border-radius: 4px;
    width: 80%;
    padding: 8px 4px;
    color: var(--default-color);
    transition: all 500ms;
    margin-top: 4px;
    max-width: 200px;
}

div#navbar li:hover {
    background-color: var(--default-color);
    color: var(--primary-color);
    cursor: pointer;
    box-shadow: 1px 1px 4px #9f9f9f;
    /* transform: rotate(90deg); */
    transform: scale(1.1);
    /* transform: translateX(12px); */
    /* transform: skew(10deg); */
}

#content {
    margin-top: 4px;
    background-color: var(--primary-color);
}

@media screen and (min-width:550px) and (max-width:750px) {
    div#navbar button#hamburger {
        display: none;
    }

    div#navbar>ul {
        flex-direction: row;
    }

    div#navbar li {
        padding: 4px 2px;
        width: 84px;
    }
}

@media screen and (min-width:750px) {
    div#navbar button#hamburger {
        display: none;
    }

    div#navbar>ul {
        flex-direction: row;
    }

    div#navbar li {
        width: 120px;
        margin: 0 2px;
    }
}